// fonts

$font-fam: "Poppins", sans-serif;

// colors

// navigation button

$navigation-bg-clr: rgba(231, 231, 231, 0.85);
$navigation-radius: 5px;
$navigation-txt-clr: #737373;


//  card

$card-radius: 7px;

//  body

$main-bg-clr: linear-gradient(248.28deg, #0cffc5 -10.93%, rgba(223, 255, 29, 0.25) 109.33%);
